/* Entire Page */
body {
    background-color: #3282b8;
}

/* Header Text */
h1 {
    text-align: center;
    color: #bbe1fa;
    font-family: 'Rowdies', cursive;
    font-weight: 300;
    font-size: 3rem;
}

/* Container */
.container {
    width: 60%;
    margin: auto;
}

/* Button Container */
.btn-container { 
    display: flex;
    flex-wrap: wrap;
}

/* Button */
.btn {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin-top: 2%;

    /* Makes all flex items equal width */
    flex: 1 1 0px;
}

.btn-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #c8e9ff;
}
